<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Labot lietotāju</title>
</head>
<body class="auth-page">
    <div class="auth-card">
        <h2>Lietotāja dati</h2>
        <form method="POST">
            <label>Vārds</label>
            <input type="text" name="vards" value="{{ user.vards }}" required>
            <label>Uzvārds</label>
            <input type="text" name="uzvards" value="{{ user.uzvards }}" required>
            <label>Logins</label>
            <input type="text" name="login" value="{{ user.login }}" required>
            <label>Parole</label>
            <input type="text" name="parole" value="{{ user.parole }}" required>
            <label>Loma</label>
            <select name="role">
                <option value="student" {% if user.role == 'student' %}selected{% endif %}>Students</option>
                <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admins</option>
            </select>
            <button type="submit" class="btn-book">Saglabāt</button>
        </form>
        <a href="/admin">Atcelt</a>
    </div>
</body>
</html>